# Input and Outpu

In [1]:
import json as json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mkdir data

In [3]:
mkdir data

A subdirectory or file data already exists.

In [4]:
with open('data/test.txt', 'w') as file:
    for k in range(100):
        file.write("it is your"+str(k)+"th turn! \n")

In [5]:
txtfile=open("data/textdata.txt", 'w')

In [11]:
for i in range (1000):
    '''chek even and odd'''
    if i%2 ==0:
        txtfile.write(str(i)+"|It is even")
        if i<500:
            txtfile.write(str(i)+"|It is below 500 \n")
        else:
                txtfile.write(str(i)+"|It is above 500 \n")
                
    else:
        txtfile.write(str(i) + "|It is odd \n")
        if i<500:
                txtfile.write(str(i) + "|It is below 500 \n")
        else:
                txtfile.write(str(i) + "|It is above 500 \n")
txtfile.close()

In [13]:
with open('data/textdata.txt','r') as f:
    i = 0
    for line in f:
        print(line)
        if i>10:
            break
        i=i+1

0|It is even0|It is below 500

1|It is odd

1|It is below 500

2|It is even2|It is below 500

3|It is odd

3|It is below 500

4|It is even4|It is below 500

5|It is odd

5|It is below 500

6|It is even6|It is below 500

7|It is odd

7|It is below 500

JSON file

In [18]:
Data = []
for k in range(1000):
    Data.append({"x" : np.random.uniform(0,10),\
        "y" : np.random.uniform(0,20),\
        "z" : np.random.uniform(0,10)})

In [19]:
Data[101:105]

[{'x': 0.18884849023016015,
  'y': 6.649163442633032,
  'z': 0.0038872887218310836},
 {'x': 2.385803745657573, 'y': 8.454929751166917, 'z': 1.0428946574151532},
 {'x': 8.767530432774251, 'y': 9.784297709415073, 'z': 0.09753052544669627},
 {'x': 8.756566544332859, 'y': 17.489018810950924, 'z': 7.997323105819633}]

In [20]:
with open("data/sample_data.json", 'w') as f:
    json.dump(Data,f)

In [23]:
with open("data/sample_data.json","r") as f:
    uploaded_data = json.load(f)

In [24]:
uploaded_data[0:2]

[{'x': 0.18398076902191196, 'y': 3.996235846190208, 'z': 4.771160938444698},
 {'x': 3.4491899034459372, 'y': 9.555414484462073, 'z': 6.604111758448027}]

In [25]:
DF = pd.DataFrame(Data)
DF.head()

          x          y         z
0  0.183981   3.996236  4.771161
1  3.449190   9.555414  6.604112
2  3.600050  12.032142  5.564332
3  1.238534   7.251211  4.648182
4  7.091939   2.704038  8.385296

In [30]:
DF.to_csv("data/sampledata.csv")

In [31]:
uploaded_data = pd.read_csv("data/sampledata.csv")

In [32]:
uploaded_data.head()

   Unnamed: 0         x          y         z
0           0  0.183981   3.996236  4.771161
1           1  3.449190   9.555414  6.604112
2           2  3.600050  12.032142  5.564332
3           3  1.238534   7.251211  4.648182
4           4  7.091939   2.704038  8.385296